./giantAssets
assets/beefBase.webm
assets/grossPan1.mp4
assets/beefPack.webm
assets/fishCut.webm
assets/fishFall.mp4
assets/fishFall.webm
assets/fishTopping.webm
assets/glowTopping.webm
assets/goopPour.webm
assets/openFish.webm
assets/oven.webm
assets/roastCut.webm
assets/turkeyTrot.webm
